body {
	background-color: rgba(0, 0, 0, 0.897);
	margin: 0;
	padding: 0;
}
header {
	text-align: center;
	color: white;
	background-color: #2c3852;
	height: 60px;
	margin-top: 0;
	margin-bottom: 10;
	align-items: center;
}
table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	padding: 8px;
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	background-color: #2c3852;
	color: white;
	font-size: 18px;
}
.inputWrapper {
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
}
.input {
	text-align: center;
	height: 44px;
	max-width: 144px;
	border-radius: 1rem;
	background-color: rgb(234, 234, 234);
}
.totalMonthly {
	color: white;
	text-align: center;
	position: fixed;
	bottom: 150px;
	right: 100px;
}
.submitInfo {
	height: 44px;
	width: 144px;
	font-size: 20px;
	border-radius: 1rem;
	background-color: green;
}
.submitInfo:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.deleteButton {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: red;
}
.deleteButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.areYouSure {
	color: yellow;
	text-align: center;
}
.confirmButton {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: green;
}
.cancelButton {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: red;
}
.editButton {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: yellow;
}
.submitEdit {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: green;
}
.submitEdit:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.messageWrapper {
	text-align: center;
	align-items: center;
}
.confirmButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.cancelButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.editButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.inputSmall {
	text-align: center;
	height: 24px;
	max-width: 124px;
	border-radius: 1rem;
	background-color: rgb(234, 234, 234);
}
.deleteAll {
	height: 44px;
	width: 144px;
	font-size: 20px;
	border-radius: 1rem;
	background-color: red;
}
.deleteAll:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.confirmAllButton {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: green;
}
.cancelAllButton {
	height: 34px;
	width: 104px;
	font-size: 12px;
	border-radius: 1rem;
	background-color: red;
}
.confirmAllButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.cancelAllButton:hover {
	cursor: pointer;
	transform: scale(1.1);
}
